/* node */

.node {
    display: inline;

    /* box-decoration-break: slice;
    -webkit-box-decoration-break: slice;
    -o-box-decoration-break: slice; */
}

/* node cursor */

.node-cursor {
    /* border-left: 2px solid black;
    border-right: 2px solid black; */
    /* box-shadow: -2px 0 0 0 black, 2px 0 0 0 black; */
    /* background-color: red; */
    box-shadow: 0 0 0 1px black;
}

/* node select */

.node-select-top {
    /* border-left: 2px solid black;
    border-right: 2px solid black; */
    /* box-shadow: -2px 0 0 0 black, 2px 0 0 0 black; */
    box-shadow: 0 0 0 1px black;
    background-color: rgb(211, 211, 255);
}

.node-select-bot {
    /* border-left: 2px solid black;
    border-right: 2px solid black; */
    /* box-shadow: -2px 0 0 0 black, 2px 0 0 0 black; */
    box-shadow: 0 0 0 1px black;
    background-color: white;
}

/* node query */

.node-query-replace {
    /* border-left: 2px solid black;
    border-right: 2px solid black; */
    /* box-shadow: -2px 0 0 0 black, 2px 0 0 0 black; */
    box-shadow: 0 0 0 1px black;
}

.node-query-replace-exp-new {
    background-color: rgb(255, 197, 89);
}

.node-query-replace-exp-old {
    background-color: rgb(186, 186, 186);
}

.node-query-insert-top {
    background-color: rgb(255, 197, 89);
}

.node-query-insert-bot {
    background-color: white;
}


.node-query-invalid {}

.node-query-invalid-string {}

.node-query-invalid-exp {}

/* exp */

.node-exp {}

/* node var */

.node-exp-var {}

.node-exp-var-label {}

/* node app */

.node-exp-app {}

.node-exp-app-apl {}

.node-exp-app-arg {}


/* punctuation */

.punc {
    display: inline;
}

.punc-paren {}

.punc-paren-left {}

.punc-paren-right {}

.punc-space {
    white-space: pre;
}

.punc-indent {
    white-space: pre;
}

.punc-newline {
    /* display: block */
}