html {
  font-size: 12pt;
  user-select: none;
}

body {}

.app {}

/* editor */

.editor {
  /* width: 100vw; */
  /* min-height: 100vh; */
  box-shadow: 0 0 0 1px black;
  width: 500px;
  height: 500px;

  overflow: scroll;

  white-space: pre;
  font-family: monospace;
}

.editor-inner {
  padding: 2rem;
  padding-bottom: 20rem;
}

.editor-inner div {
  display: inline;
}

/* misc */

table,
tbody,
tr,
td {
  text-align: left;
  vertical-align: top;

  border: 1px solid black;
  border-collapse: collapse;
}

td {
  padding: 0.25rem;
}

.table-key {
  /* font-style: italic; */
  /* text-decoration: underline; */
  font-weight: 400;
}

.code {
  font-family: monospace;
}